body{
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

h3{
    padding:0 25px;
}
button{
    border-radius: 15px;
    border: none;
    background-color:crimson;
    transition: 0.5s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover{
    transform: scale(1.05);
}

button:active{
    transform: scale(0.9);
}

.content-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px;
    padding: 100px;
    height: 100%;
    border: solid black 5px;
    border-radius: 15px;
    background-color: antiquewhite;
}

.choice-container{
    display: flex;
    justify-content: center;
    margin: 30px;
    gap: 25px;
}

.info-container{
    padding: 15px;
}